---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "webshell.fullname" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "webshell.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "webshell.selectorLabels" . | nindent 6 }}
  strategy: {{- toYaml .Values.updateStrategy | nindent 4 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "webshell.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "webshell.serviceAccountName" . }}
      securityContext:
        fsGroup: 1000  # to match rootless user GID
      initContainers:
      {{- if and .Values.dind.enabled .Values.dind.persistence.enabled .Values.dind.rootless }}
      # This init container must run as root to be able to chown the PV (Longhorn PVs are initialized as 0:0)
      - name: prepare-pv
        image: "{{ .Values.init.image.repository }}:{{ .Values.init.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          runAsUser: 0
        command:
          - sh
          - -c
          - |
            chown -R 1000:1000 /docker-data
            echo "Prepared PV for dind rootless usage"
        volumeMounts:
        - name: docker-volume
          mountPath: /docker-data
      {{- end }}
      - name: welcome-msg
        image: "{{ .Values.init.image.repository }}:{{ .Values.init.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.init.command }}
        command: 
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: shared-data
          mountPath: /home/project
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.theia.image.repository }}:{{ .Values.theia.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: USER
            value: {{ .Values.user }}
          - name: THEIA_WEBVIEW_EXTERNAL_ENDPOINT
            value: {{ .Values.theia.webview_url | quote }}
          - name: CLUSTER_K8S_API_HOST
            value: {{ .Values.cluster_k8s_api_host | quote }}
          ports:
            - name: web
              containerPort: 3000
              protocol: TCP
          resources:
            {{- toYaml .Values.theia.resources | nindent 12 }}
          volumeMounts:
          - name: shared-data
            mountPath: /home/project
        {{- if .Values.dind.enabled }}
        - name: dind
          image: "{{ .Values.dind.image.repository }}:{{ .Values.dind.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - --registry-mirror=https://mirror.gcr.io
          env:
          - name: DOCKER_TLS_CERTDIR
            value: /home/project/.tls
          ports:
          - containerPort: 2376
            protocol: TCP
          resources:
            {{- toYaml .Values.dind.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: true
            capabilities: {}
            privileged: true
            procMount: Default
            readOnlyRootFilesystem: false
            runAsNonRoot: false
          stdin: true
          tty: true
          readinessProbe:
            tcpSocket:
              port: 2376
            initialDelaySeconds: 2
            timeoutSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 2376
            initialDelaySeconds: 5
            timeoutSeconds: 10
          volumeMounts:
          {{- if .Values.dind.rootless }}
          # Docker data dir must be changed for rootless mode with persistence
          - name: dind-rootless-config
            mountPath: /home/rootless/.config/docker/daemon.json
            subPath: daemon.json
          {{- end }}
          - name: shared-data
            mountPath: /home/project
          - name: docker-volume
          {{- if .Values.dind.rootless }}
            mountPath: /docker-data
          {{- else }}
            mountPath: /var/lib/docker
          {{- end }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      # docker data dir, change for rootless mode
      # would be /var/lib/docker for rootfull mode
      # and /home/rootless/.local/share for rootless mode
      {{- if .Values.dind.rootless }}
      - name: dind-rootless-config
        configMap:
          name: dind-rootless-config
          items:
          - key: daemon.json
            path: daemon.json
      {{- end }}
      - name: shared-data
      {{- if .Values.theia.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ include "webshell.fullname" . }}
      {{- else }}
        emptyDir: {}
      {{- end }}
      - name: docker-volume
      {{- if .Values.dind.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ include "webshell.fullname" . }}-docker
      {{- else }}
        emptyDir: {}
      {{- end }}
