name: Build latest Version & release Helm Chart

on:
  push:
    branches:
      - main

jobs:
  release-helmchart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.4.0
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: deploy/charts
        env:
          CR_TOKEN: "${{ secrets.GH_PAT_REPO }}"
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Quay.io Container Registry
        uses: docker/login-action@v2 
        with:
          registry: quay.io
          username: ${{ secrets.QUAYIO_USERNAME }}
          password: ${{ secrets.QUAYIO_TOKEN }}
      - 
        name: Login to the ghcr.io Container registry
        uses: docker/login-action@ba38666a08b622da774c4a0970ab11e419b5c018
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build Latest Version
        uses: docker/build-push-action@v4
        with:
          context: build
          push: true
          tags: |
            quay.io/acend/theia:latest
            ghcr.io/acend/theia:latest